body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0; 
    text-align: center; 
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* spaces out the text from the image */
}

#circle-image {
    width: 420px; 
    height: 420px; 
    border-radius: 50%; /* makes circle */
    object-fit: cover; 
}

#texts {
    color: rgb(133,128,112);
}

#name {
    color: rgb(229,219,197);
}

#alternating-text {
    color: rgb(229,219,197);
    font-size: larger;
}

.reference-button {
    padding: 10px 20px;
    color: #4CAF50; 
    background-color: transparent; 
    border: 2px solid #4CAF50; 
    border-radius: 15px;
    transition: all 0.3s ease;
    display: inline-block; 
    margin-bottom: 50px;
}

.reference-button:hover {
    background-color: #4CAF50; /* change colorway i dont like it */
}

#references img {
    margin-right: 20px; /* spacing */
    vertical-align: middle;
    /* try to find a way to make the buttom images all the same color */

}

.skills-button{
    background-color: #ffc107;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;

}

.skills-button:hover {
    background-color: #e0a800; 
}

.frontend-heading {
    text-align: center;
    margin-left: -1000px;
}

.backend-heading {
    text-align: center;
    margin-top: 100px;
    margin-left: -1000px;
}